.navbar-toolbar {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.navbar-links {
    display: flex;
    gap: 16px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    color: var(--background-beige);
    padding: 0 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

.navbar-button {
    font-weight: 500;
    text-transform: none;
}

.navbar-button:hover {
    background-color: transparent;
}
