.gallery-container {
    padding: 80px 40px;
    background: transparent;
    text-align: center;
    color: white;
}

.glass-card:hover {
    transform: translateY(-5px);
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.project-image {
    width: 100%;
    border-radius: 24px;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}